__pycache__/
*.pyc
.venv/
.venv-linux/
.opencode/
build/
dist/
installateur/
*.exe
*.zip
*.tar.gz
*.log
*.tmp
data/*.db
data/recus/
data/rapports/
data/fne/
data/factures/
data/etiquettes/
data/devis/
data/livraisons/
data/uploads/
